:root{
  --color-principal: mediumseagreen;
  --margen-interior: 20px;
  --altura-header: 80px;
  --altura-footer: 40px;
}

*{box-sizing:border-box;}

body,html{
  font-family:sans-serif;
  padding:0px;
  margin:0px;
  width:100%;
  height:100%;
}

body{display:flex;flex-direction:column;}

header{
  height:var(--altura-header);
  flex-shrink:0;
  background:var(--color-principal);
  padding:var(--margen-interior);
  color:white;
  display:flex;
  align-items:center;
  gap:var(--margen-interior);
}

header img{height:40px;}
header h1{margin:0px;}
header div{display:flex;align-items:center;gap:10px;}
header div:first-of-type{flex:1;justify-content:center;}
header a{
  text-decoration:none;
  color:var(--color-principal);
  background:white;
  padding:10px;
}

section{flex:1;min-height:0;display:flex;}

nav{
  flex:1;
  background:var(--color-principal);
  padding:10px;
  color:white;
  display:flex;
  flex-direction:column;
  gap:10px;
  padding-top:0px;
}

nav a{
  text-decoration:none;
  color:var(--color-principal);
  background:white;
  padding:10px;
}

main{
  flex:10;
  padding:calc(var(--margen-interior) / 2);
  overflow:auto;
}

footer{
  height:var(--altura-footer);
  flex-shrink:0;
  background:var(--color-principal);
  padding:calc(var(--margen-interior) / 2) var(--margen-interior);
  color:white;
  display:flex;
  align-items:center;
  gap:var(--margen-interior);
}

footer div{flex:1;}
footer div:nth-child(2){text-align:center;}
footer div:last-child{text-align:right;}

table{
  width:100%;
  border-collapse:collapse;
  font-family:Arial,sans-serif;
  font-size:14px;
  background:white;
}

th,td{
  padding:10px 12px;
  text-align:left;
  border-bottom:1px solid #ddd;
}

th{
  background:var(--color-principal);
  font-weight:600;
  color:white;
}

td{color:#444;}
tbody tr:hover{background:#f9f9f9;}
tbody tr:last-child td{border-bottom:none;}


/* FORMULARIOS CRUD */

main form{
  display:flex;
  flex-direction:column;
  gap:10px;
}

main label{
  display:flex;
  flex-direction:column;
  gap:5px;
}

main input{
  padding:10px;
  border:1px solid #ddd;
  font:inherit;
}

main button{
  align-self:flex-start;
  border:0px;
  background:var(--color-principal);
  color:white;
  padding:10px;
  font:inherit;
  cursor:pointer;
}

main td a{
  color:var(--color-principal);
}
